<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="company" class="com.account.company.Company" autowire="byName">
		<property name="name" value="xworkz"></property>
		<property name="noOfEmployees" value="25"></property>
		<property name="address" value="rajajinagar"></property>
		<!-- <property name="emp" ref="employee"></property> -->
	</bean>

	<bean id="emz" class="com.account.company.Employee">
		<constructor-arg value="34"></constructor-arg>
		<constructor-arg value="weer"></constructor-arg>
		<property name="contactnum" value="983343434"></property>
	</bean>





</beans>